.title{
    text-align: center;
    font-size: 300%;
}

.title {
  margin-top: 20%;
}

.padL {
  padding-left: 30px;
}

.padR{
  padding-right: 30px;
}

.box{
  width: 60%; 
  padding: 2.5%;
  border-radius: 55px;
  background-color: hsl(182, 25%, 50%, 0.5);
}


.container {
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.info{
  text-align: center;
  margin-top: 20px;
  padding :2.5%;
  
  background-color: hsl(182, 25%, 50%, 0.5);
}
.NT{
  color: rgb(0, 102, 255);
}